# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Distribution packages & archives
Publish/
Build/
Installer/
*.zip

# Windows temporary files
Thumbs.db
ehthumbs.db
Desktop.ini
.BIN/
scratch/
